@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Roboto&display=swap");
/*
FUENTES:
font-family: 'Archivo', sans-serif;
font-family: 'Roboto', sans-serif;

PALETA DE COLORES:
Azul marino: #003b75
Azul claro: #0074D9
Amarillo dorado: #ffcc26
Amarillo pálido: #FFFF99
*/

/*
  PRINCIPAL
  --------------------------------------------------------------------------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*
  NAV
  --------------------------------------------------------------------------------------------------------------
*/
header {
  background-color: #0074D9;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

ul.navbar li {
  display: inline-block;
  margin: 0 4vw;
}

ul.navbar li a {
  display: block;
  padding: 10px 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;

  font-weight: lighter;
}

ul.navbar li a:hover {
  background-color: #ffffff;
  color: #196bc9;
}

/*
  FORM
  --------------------------------------------------------------------------------------------------------------
*/
/*
  FOOTER
  --------------------------------------------------------------------------------------------------------------
*/

footer {
  margin-top: auto;

  background-color: #0074D9;
}

.txt{
  margin: 18px 0 18px 60vw;
}
.socials{
  margin: 20px 0 0 30vw;
}
.txt p{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.txt h1{
  color: #ffffff;
  font-size: 20px;
  font-style: bold;
  font-family: "Roboto", sans-serif;
}
