@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Roboto&display=swap");
@import url("https://db.onlinewebfonts.com/c/1d4bfe8337eb9580ceacbe2c10791f17?family=FSP+DEMO+-+Giga+Sans+ExtBd");
/*
FUENTES:
font-family: 'Archivo', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Warp', cursive;

PALETA DE COLORES:
Azul marino: #003b75
Azul claro: #0074D9
Amarillo dorado: #ffcc26
Amarillo pálido: #FFFF99
*/

/*
  PRINCIPAL
  --------------------------------------------------------------------------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

/*
  NAV
  --------------------------------------------------------------------------------------------------------------
*/
header {
  background-color: #00152b;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

ul.navbar li {
  display: inline-block;
  margin: 0 4vw;
}

ul.navbar li a {
  display: block;
  padding: 10px 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;

  font-weight: lighter;
}

ul.navbar li a:hover {
  background-color: #ffffff;
  color: #00152b;
}

/*
  FORM
  --------------------------------------------------------------------------------------------------------------
*/
.fondo{
  background-image: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  background-color: #364657;
  height: 100vh;
}

.container h1{
  padding: 8vh 0 8vh 0;
  font-family: "FSP DEMO - Giga Sans ExtBd";
  font-size: 3.5vw;
  color: #ffffff;
  text-align: center;
}

.container p{
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 1.5rem;
  margin: 16vh 20vw 0 20vw;
  color: #ffffff;
  line-height: 50px;
  letter-spacing: 3px;
}

.container .btn-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

.container .btn {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 17px;
  padding: 30px;
  margin: 0 10px 8vh 10px;
  text-align: center;
  color: #fff;
  background-color: #00152b;
  border: none;
  cursor: pointer;
}

.container .btn:hover {
  background-color: #eebe22;
  color: #00152b;
}


/*
  FOOTER
  --------------------------------------------------------------------------------------------------------------
*/
footer {
  margin-top: auto;
  background-color: #00152b;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

#redes {
  margin: 0 15vw 0 0;
}

#redes a{
  padding: 5px;
}

#txt {
  margin: 0 0 0 10vw;
}

#txt p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 25px;
}

#txt a{
  color: #fff;
}

#txt a:hover{
  color: #eebe22;
}

#txt h1 {
  font-family: "FSP DEMO - Giga Sans ExtBd";
  font-style: normal;
  font-weight: 400;
  color: #ffff;
}